# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul & js-docs
# docs

# nyc test coverage
.nyc_output
coverage

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

.DS_Store
